<header>
    <div class="container">
        <div class="row justify-content-end">
            <div class="navbar-header">
                <ul class="header-menu">
                    <li>
                        <a class="navbar-brand" href="/" title="Hash">Hash</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/block" title="Block">Block</a>
                    </li>
                    <li>
                        <a class="navbar-brand" href="/symmetric-encryption" title="Symmetric-Encryption">Symmetric Encryption</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
